<app-header titulo="Tarjetas"></app-header>

<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Bienvenido a las tarjetas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quas porro eligendi tempore omnis repudiandae autem dolores nobis? Cum impedit atque ut tempore aspernatur beatae adipisci neque dolores officiis veritatis.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="danger">
      <ion-icon color="light" slot="start" name="logo-apple"></ion-icon>
      <ion-label>Venta de Manzanas</ion-label>
    </ion-item>
    <ion-card-content>
      Manzanas al mejor precio, compre la suya.
    </ion-card-content>
  </ion-card>

</ion-content>
